/* src/sections/Projects.css */

/* ===== Grid (Se queda aquí porque define la sección de proyectos) ===== */
.grid{
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
  margin-top: 10px;
}

/* Línea divisoria entre secciones*/
.section-divider{
  height:2px;
  background: linear-gradient(90deg, transparent, var(--accent), transparent);
  border-radius:4px;
  margin:40px 0 24px;
  opacity:.7;
}
